table{
    border: 1px solid color(srgb rgba(198, 93, 93, 0.703) rgba(235, 238, 236, 0.927) rgb(247, 0, 255));
    width: 75%;
    height: 75px;
    border-collapse: collapse;
    text-align: center;
 
}
td{
    text-align: center;
}
        
tr:nth-child(1) {
    background-color: rgb(147, 228, 157);
    color: white;
    font-family: monospace;
}

tr:nth-child(2) {
    background-color: rgb(4, 255, 50);
}

tr:nth-child(4) {
    background-color: rgb(127, 234, 5);
}

tr:nth-child(6) {
    background-color: rgb(3, 231, 75);
}

tr:nth-child(8) {
    background-color: rgb(22, 255, 33);
}

tr:nth-child(3) {
    background-color: rgb(43, 255, 15);
}

tr:nth-child(5) {
    background-color: rgb(75, 249, 11);
}

tr:nth-child(7) {
    background-color: rgb(16, 246, 20);
}

tr:nth-child(9) {
    background-color: rgb(8, 250, 77);
}

td{
    text-align: center;
}

