* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

div {
    width: 400px;
    height: 200px;
    background-color: blue;
    color: aliceblue;
    font-size: 3em;
    text-align: center;
}

@keyframes rainbow {
    from {
        background-color: red;
    }

    to {
        background-color: red;
    }
}